@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,700);
/*	----------------------------------------------------------------
*	HTML defaults
*/
html{background: #fff;}
body{font-size:13px;line-height:20px;font-family: Roboto;}
input[type=checkbox]{border:0;}
img{vertical-align:text-bottom;}
sup{font-size:.6em;vertical-align:top;}

a:link,a:visited{color:#0072CF;}
a:hover,a:active{color:#000;}

/*	----------------------------------------------------------------
*	Useful classes
*/
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;float:none;}
.clear:after{clear:both;content:'.';display:block;height:0;visibility:hidden;}
.upper {text-transform: uppercase;}
.bold {font-weight: bold;}
.tcenter{text-align: center;}
.tleft{text-align: left;}
.tright{text-align: right;}


/*	================================================================
*	block:	HEADER
*/
#header{
	padding:10px 0px;
	font-family: Roboto;
	font-size: 11px;
	background-color: #f8f8f0;
	color: #1d5056;
}

.navigation {
  width: 1200px;
  margin: 0 auto; 
}

#content {
  width: 1200px;
  margin: 0 auto;
}

.year, .month {
  float: left;
  margin-left: 10px;
}

#year, #month {
  height: 25px;
  border-radius: 1px;  
}

#year:hover, #mont:hover {
  border: 1px solid #bddaf5;
}

.gobtn {
  color: #ffffff;
  margin-left: 10px;
  background-color: #1d5056;
  height: 25px;
  width: 40px;
  border-radius: 1px;
  border: 0px;
}

.clear {
  clear: both;
}




/* for 768px or less */
@media screen and (max-width:768px) 
{
.modal-content {
    width: 100%;
}
.footer .box-25:nth-child(3){
	float:right;
	}
div.navigation ul.menu {
    text-align: center;
}
}
/* for 580px or less */
@media screen and (max-width:580px) {
	.section .box-25 {
    width: calc( 100% - 22px);
}
/* for 480px or less */
@media screen and (max-width:480px) {
	div.navigation ul.menu li {
    padding: 1px 5px;
    font-size: 13px;
}
div.section .logo_holder {
    width: 32%;
    float: none;
    padding-top: 10px;
    margin-left: 15px;
}
div.section .icons_holder{
	display:none;
}
div .section .contacts_holder {
    width: 96%;
    float: right;
}
div.navigation ul.menu li {
   
    padding: 0px 10px;
}
#content .advertising .box-50-left {
    width: 98%;
    margin-bottom: 10px;
}
#content .advertising .box-50-right {
    width: 98%;
    
}
}
/* for 320px or less */
@media screen and (max-width:318px) {
	div.navigation ul.menu li {
    padding: 1px 5px;
    font-size: 13px;
}
div .section .contacts_holder {
    width: 100%;
    float: left;
    margin-left: 3px;
}
}

