@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,700);
/*	----------------------------------------------------------------
*	HTML defaults
*/
html{background: #fff;}
body{font-size:13px;line-height:20px;font-family: Roboto;}
input[type=checkbox]{border:0;}
img{vertical-align:text-bottom;}
sup{font-size:.6em;vertical-align:top;}

a:link,a:visited{color:#0072CF;}
a:hover,a:active{color:#000;}

/*	----------------------------------------------------------------
*	Useful classes
*/
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;float:none;}
.clear:after{clear:both;content:'.';display:block;height:0;visibility:hidden;}
.upper {text-transform: uppercase;}
.bold {font-weight: bold;}
.tcenter{text-align: center;}
.tleft{text-align: left;}
.tright{text-align: right;}
