<div id="header"> 
	<div class="navigation">
		
		<div class="year">
			<label>ANNEE</label><br/>
			<select id="year" class="select-control" name="year">
				<option value=""> - choose - </option>

				<option value="2017">2017</option>
				<option value="2018">2018</option>

			</select>
		</div>
		
		<div class="month">
			<label>MOIS</label><br/>
			<select id="month" class="select-control" name="year">
				<option value=""> - choose - </option>

				<option value="2017">2017</option>
				<option value="2018">2018</option>

			</select>
		</div>
		<br/>
		<input class="gobtn" type="submit" value="GO" >
		<div class="clear"></div>
		
	</div>
	
	
	
	
	
	
</div>