	<div id="header">
	<div class="navigation">
		
		<form method="get">
			<div class="year">
				<label>ANNEE</label><br/>
				<select id="year" class="select-control" name="year">
					<option value="{$data.choiceYear}">{$data.choiceYear}</option>
					{foreach from=$years item=year}
						<option value="{$year.year}">{$year.year}</option>
					{/foreach}

				</select>
			</div>
			
			<div class="month">
				<label>MOIS</label><br/>
				<select id="month" class="select-control" name="month">
					<option value="{$data.choiceMonth}">{$data.currMonthName}</option>

					{for $i=1 to 12}
						<option value="{$i}">{$months[$i-1]}</option>
					{/for}

				</select>
			</div>
			<br/>
			<input class="gobtn" type="submit" value="GO" >
			<div class="clear"></div>
		</form>
		
	</div>
	</div>
<div id="content">
	
	
	

	

	
	<div class="grafic1">
		<div class="graficTitle">
			<h2>Rapport pour I`annee: {$data.choiceYear}</h2>
			<p>{$data.maxCountYear} Leads Bruts requs depuis le debut de I`annee</p>
			<p style="color: red;">{$data.maxCountYearPercent} %</p>
		</div>
		<div class="graficIndex">1</div>
		<div id="container" style="min-width: 310px; height: 200px; margin: 0 auto"></div>
		
		<script type="text/javascript" src="{$smarty.const.WEB_PATH}js/StatisticGraphics.js"></script>
		<div class="clear"></div>
		<div class="period">{$data.choiceYear} - {$data.choiceYear-1}</div>
	</div>
	
	<div class="grafic2">
		<div class="graficIndex">2</div>
		<table style="width:95%;" align="right">
			<tr>
				{for $i=1 to 12}
					<th>{$data.choiceYear}<br/>{$months[$i-1]}</th>
				{/for}
				<th>{$data.choiceYear}<br/>Total</th>
			<tr>
			<tr>
				{foreach from=$data.currCountYearStat item=stat}
					<td>{$stat}</td>
				{/foreach}
					<td>{$data.maxCountYear}</td>
			<tr>
		</table>
		<div class="clear"></div>
	</div>
	
	
	
	
	<div class="grafic3">
		<h3>Rapport pour le mois: {$data.choiceYear} {$data.currMonthName}</h3><br/>
		<div class="graficIndex">3</div>
		<table style="width:95%;" align="right">
			<tr>
				{for $i=1 to {$data.lastDayOfMonth}}
					<th>{$i}</th>
				{/for}
				<th>Total</th>
			<tr>
			<tr>
				{foreach from=$monthStat item=stat}
					<td>{$stat}</td>
				{/foreach}
					<td>{$data.maxCountMonth}</td>
			<tr>
		</table>
		<div class="clear"></div>
	</div>
		
		
		
		